{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}
    <h1 class="text-center" style="color: #c2a26b;">{{ usuario.nombre }} {{ usuario.apellido }}</h1>
    <div class="centered-form">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Email:</strong> {{ usuario.email }}</p>
                <p><strong>DNI:</strong> {{ usuario.dni }}</p>
                <p><strong>CUIL:</strong> {{ usuario.cuil }}</p>
            </div>
            <div class="col-md-6">
                <p><strong>Telefono:</strong> {{ usuario.telefono }}</p>
                <p><strong>Direccion:</strong> {{ usuario.direccion }}</p>
                <p><strong>Verificado:</strong> {{ usuario.isVerified ? 'Yes' : 'No' }}</p>
            </div>
        </div>
        <hr>
        
        <div class="text-center">
            <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}" class="btn btn-secondary">Editar mis datos</a>
        </div>
    </div>
{% endblock %}
