{# templates/reserva_amarra/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nueva Reserva de Amarra{% endblock %}

{% block body %}
    {# mensajes flash success #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>¡Éxito!</strong> {{ message }}
            <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {# mensajes flash error #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>¡Error!</strong> {{ message }}
            <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    <div class="centered-form">
        <h3 style="text-align: center;">Crear Reserva de Amarra</h3>

        {{ form_start(form, {'attr': {'class': 'form-group'}}) }}
            {{ form_row(form.publicacionAmarra, {
                'attr': {'class': 'form-control', 'placeholder': 'Publicación de Amarra', 'disabled': 'disabled'}
            }) }}
            {{ form_row(form.fechaDesde, {
                'attr': {'class': 'form-control', 'placeholder': 'Fecha Desde','readonly': 'readonly'}
            }) }}
            {{ form_row(form.fechaHasta, {
                'attr': {'class': 'form-control', 'placeholder': 'Fecha Hasta','readonly': 'readonly'}
            }) }}
            <button type="submit" class="btn btn-secondary" style="margin-top: 10px;">Guardar</button>
            <a href="{{ path('app_publicacion_amarra_index')}}"class="btn btn-3" style="margin-top: 10px;">Cancelar</a>
        {{ form_end(form) }}
            
            
          </li>
    </div>
{% endblock %}
