{# templates/reserva_amarra/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear Reserva de Amarra</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.publicacionAmarra) }}
        {{ form_row(form.fechaDesde) }}
        {{ form_row(form.fechaHasta) }}

        <button type="submit">Guardar</button>
    {{ form_end(form) }}
{% endblock %}