{% extends 'base.html.twig' %}

{% block title %}Publicaciones de Amarras{% endblock %}

{% block body %}
{# mensajes flash success #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>¡Éxito!</strong> {{ message }}
            <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {# mensajes flash failed #}
    {% for message in app.flashes('failed') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>¡Error!</strong> {{ message }}
        <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}

<div style="text-align: center;style=margin-top: 20px">
    <h1>Busca tu Amarra</h1>
<div/>
<div class="container mt-5 text-center">
    <p style="text-align: center; font-size: 1.2em; color: #c2a26b;">
        Por favor ingresa los datos para buscar tu proximo alquiler de amarra
    </p>
</div>
    
    {# Formulario de filtros #}
    <div class="container centered-form2" style="margin-top: 140px; position: relative; padding: 20px; background-color: #c2a26b; border: 1px solid #000; border-radius: 10px;">
    <form class="d-flex justify-content-center" method="POST" action="{{ path('app_publicacion_amarra_index') }}">
        {{ form_widget(filtrado.desde, {'attr': {'class': 'form-control me-2', 'placeholder': 'Fecha Desde', 'aria-label': 'Fecha Desde'}}) }}
        {{ form_widget(filtrado.hasta, {'attr': {'class': 'form-control me-2', 'placeholder': 'Fecha Hasta', 'aria-label': 'Fecha Hasta'}}) }}
        {{ form_widget(filtrado.tamano, {'attr': {'class': 'form-control me-2', 'placeholder': 'Tamaño', 'aria-label': 'Tamaño'}}) }}
        {{ form_widget(filtrado.marinas, {'attr': {'class': 'form-control me-2', 'placeholder': 'Marina', 'aria-label': 'Marina'}}) }}
         {{ form_errors(filtrado) }}
        <button class="btn btn-secondary" type="submit">Filtrar</button>
    </form>
</div>
<div class="container mt-5 text-center">
    <p style="text-align: center; font-size: 1.2em; color: #c2a26b;">
        Tenes una amarra y queres publicarla para un alquiler temporal? hace click acá
    </p>
</div>
    <div style="width: 100%; text-align: center;">
        <a href="{{ path('app_publicacion_amarra_new') }}" class="btn btn-secondary">Publicar amarra</a>
    </div>
    <div style="text-align: center; color: #c2a26b;">
        <h1>Publicaciones de Amarras Disponibles</h1>
        <div class="row">
            {% for publicacion_amarra in publicacionesDelUser %}
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4 px-3 four-cards">
                    <div class="card mx-auto" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Amarra de {{ publicacion_amarra.usuario.nombre }} {{ publicacion_amarra.usuario.apellido }}</h5>
                            <div class="card-image-container">
                            <img src="{{ asset(publicacion_amarra.imagen) }}" class="card-img-top fixed-size-image" alt="Imagen de la amarra">
                            </div>
                    <p class="card-text"><strong>Tamaño:</strong> {{ publicacion_amarra.tamano }}</p>
                    <p class="card-text"><strong>Sector:</strong> {{ publicacion_amarra.sector }}</p>
                    <p class="card-text"><strong>Marina:</strong> {{ publicacion_amarra.marina }}</p>
                    <p class="card-text"><strong>Desde:</strong> {{ publicacion_amarra.fechaDesde ? publicacion_amarra.fechaDesde|date('d-m-Y') : 'N/A' }}</p>
                    <p class="card-text"><strong>Hasta:</strong> {{ publicacion_amarra.fechaHasta ? publicacion_amarra.fechaHasta|date('d-m-Y') : 'N/A' }}</p>
                    {% if reserva_amarra.aceptada is null %}
                                <div style="margin-right: 10px;">
                                    {{ include('reserva_amarra/_delete_form.html.twig') }}
                                </div>
                                {% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <div style="width: 100%; text-align: center;">
            <p>Todavia no tenes amarras publicadas para alquiler temporal.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
