{% extends 'base.html.twig' %}

{% block title %}Detalles de Publicación de Amarra{% endblock %}

{% block body %}
    <h1>Detalles de Publicación de Amarra</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publicacion_amarra.id }}</td>
            </tr>
            <tr>
                <th>Fecha Desde</th>
                <td>{{ publicacion_amarra.fechaDesde ? publicacion_amarra.fechaDesde|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha Hasta</th>
                <td>{{ publicacion_amarra.fechaHasta ? publicacion_amarra.fechaHasta|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Número</th>
                <td>{{ publicacion_amarra.numero }}</td>
            </tr>
            <tr>
                <th>Sector</th>
                <td>{{ publicacion_amarra.sector }}</td>
            </tr>
            <tr>
                <th>Marina</th>
                <td>{{ publicacion_amarra.marina }}</td>
            </tr>
            <tr>
                <th>Tamaño</th>
                <td>{{ publicacion_amarra.tamano }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_publicacion_amarra_index') }}">Volver al listado</a>

    <a href="{{ path('app_publicacion_amarra_edit', {'id': publicacion_amarra.id}) }}">Editar</a>

    {{ include('publicacion_amarra/_delete_form.html.twig') }}

    <div style="text-align: center; margin-top: 20px;">
        <a href="{{ path('app_reserva_amarra_new', {'idPublicacion': publicacion_amarra.id}) }}" class="btn btn-secondary">Reservar esta Amarra</a>
    </div>
{% endblock %}
