{% extends 'base.html.twig' %}

{% block title %}Solicitud{% endblock %}

{% block body %}
<h1 style="text-align: center; color: #c2a26b;">Solicitud de Intercambio</h1>
<div style="text-align: center;color: #c2a26b;"> 
    <p>Descripcion de solicitud: {{ solicitud.descripcion }}</p> 
</div>

<div style="display: flex; justify-content: center; align-items: center;">
    <!-- Datos de la Embarcación -->
    <div class="tarjeta" style="flex: 1; text-align: center; background-color: #c2a26b; border: 1px solid #ccc; padding: 20px; margin: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px;">
        <h2 style="color: #071a32;">{{ publicacion.titulo }}</h2>
        <img src="{{ asset('images/' ~ publicacion.image) }}" alt="Imagen de la embarcación" style="width: 400px; height: 400px; display: block; margin: 0 auto 10px;">
        <table class="table" style="color: #071a32;">
            <tbody>
                <tr>
                    <th>Dueño</th>
                    <td>{{ publicacion.usuario.nombre }}</td>
                </tr>
                <tr>
                    <th>Tipo de Embarcación</th>
                    <td>{{ publicacion.embarcacion.Tipo }}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{ publicacion.descripcion }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Flechas de intercambio -->
    <div style="flex: 0.1; display: flex; justify-content: center; align-items: center; margin: 0 20px;">
        <img src="{{ asset('images/intercambio.png') }}" alt="Intercambio" style="width: 50px;">
    </div>

    <!-- Datos del Bien -->
    <div class="tarjeta" style="flex: 1; text-align: center; background-color: #c2a26b; border: 1px solid #ccc; padding: 20px; margin: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px;">
        <h2 style="color: #071a32;">{{ bien.nombre }}</h2>
        <img src="{{ asset('images/' ~ bien.image) }}" alt="Imagen del bien" style="width: 400px; height: 400px; display: block; margin: 0 auto 10px;">   
        <table class="table" style="color: #071a32;">
            <tbody>
                <tr>
                    <th>Dueño</th>
                    <td>{{ bien.owner.nombre }}</td>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <td>{{ bien.tipo }}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{ bien.descripcion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="{{ path('app_solicitud_index') }}" class="btn btn-3" style="margin-bottom: 10px;">Volver a la lista</a>
</div>

{% if solicitud.aceptada %}
    <p class="card-text">Aprobación: {% if solicitud.aprobado %}Aceptada{% else %}Pendiente{% endif %}</p>
{% elseif app.user.id == solicitud.solicitado.id %}
<div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#acceptModal">Aceptar</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectModal">Rechazar</button>
    </div>
{% endif %}

{# Modal para aceptar la solicitud #}
<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="acceptModalLabel">Confirmar Aceptación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que quieres aceptar esta solicitud?
                Se enviará una notificación a un administrador para que evalue la misma.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="{{ path('app_solicitud_accept', {'id': solicitud.id}) }}" class="btn btn-success">Sí</a>
            </div>
        </div>
    </div>
</div>

{# Modal para rechazar la solicitud #}
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">Confirmar Rechazo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que quieres rechazar esta solicitud?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="{{ path('app_solicitud_delete', {'id': solicitud.id}) }}" class="btn btn-danger">Sí</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
