{% extends 'base.html.twig' %}

{% block title %}Editar Publicación{% endblock %}

{% block body %}
    <div class="centered-form">
        <h1 style="text-align: center;">Editar publicación</h1>

        {{ form_start(form, {'attr': {'class': 'form-group'}})}}
            {{ form_row(form.titulo, {
                'attr': {'class': 'form-control', 'placeholder': 'Título de la publicación'}
            }) }}
            {{ form_row(form.descripcion, {
                'label': 'Descripción',
                'attr': {'class': 'form-control'}
            }) }}
            <small id="descripcionHelp" class="form-text text-muted">La descripción debe ser clara y concisa.</small>
            {{ form_row(form.foto, {
                'label': 'Foto (PNG, JPEG)',
                'attr': {'class': 'form-control-file'}
            }) }}
            {{ form_row(form.embarcacion, {
                'label': 'Embarcación',
                'attr': {'class': 'form-control', 'style': 'width: auto;'}
            }) }}
            <button type="submit" class="btn btn-secondary" style="margin-top: 10px;" onclick="this.innerHTML='<span class=\'spinner-border spinner-border-sm\' role=\'status\' aria-hidden=\'true\'></span> Actualizando...'">Actualizar</button>

        {{ form_end(form) }}

        <a href="{{ path('app_publicacion_index') }}" class="btn btn-3">Volver a la lista</a>
        {{ include('publicacion/_delete_form.html.twig') }}
    </div>
{% endblock %}

