{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Publicaciones{% endblock %}
{#
{% block search %}
    {{ form(form) }}
{% endblock %}
#}


{% block search %}
    {{ form_start(form) }}
        <div class="d-flex">
            {{ form_widget(form.titulo, {'attr': {'class': 'form-control me-2', 'placeholder': 'Search', 'aria-label': 'Search'}}) }}
            {{ form_widget(form.Buscar, {'attr': {'class': 'btn btn-outline-primary'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
{% block body %}
    {# mensajes flash success #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Exito!</strong> {{ message }}
            <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {# mensajes flash failed #}
    {% for message in app.flashes('failed') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>¡Error!</strong> {{ message }}
        <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}

   
    <div style="text-align: center; color: #c2a26b;">
        <h1>Publicaciones</h1>

        <div class="row justify-content-center">
        {% for publicacion in publicaciones %}
            <div class="col-sm-4">
                <div class="card mx-auto" style="width: 18rem;">
                     <img src="{{ asset('images/' ~ publicacion.image) }}" class="card-img-top" alt="{{ publicacion.titulo }}"> 
                  
                    <div class="card-body">
                        <h5 class="card-title">{{ publicacion.titulo }}</h5>
                        <p class="card-text">{{ publicacion.descripcion }}</p>
                        <a href="{{ path('app_publicacion_show', {'id': publicacion.id}) }}" class="btn btn-secondary">Ver detalles</a>
                        {% if app.user %}
                            {% if app.user.id == publicacion.usuario.id %}
                                <a href="{{ path('app_publicacion_edit', {'id': publicacion.id}) }}" class="btn btn-secondary">Editar</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div style="width: 100%; text-align: center;">
                <p>No se encontraron publicaciones.</p>
            </div>
        {% endfor %}
        </div>
            <a href="{{ path('app_publicacion_new') }}" class="btn btn-secondary">Publicar</a>
    </div>
{% endblock %}
