{% extends 'base.html.twig' %}

{% block title %}Publicaciones{% endblock %}

{% block body %}
    <div style="text-align: center; color: #c2a26b;">
        <h1>Publicaciones</h1>

        <table class="table" style="color: #c2a26b;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for publicacion in publicaciones %}
                <tr>
                    <td>{{ publicacion.id }}</td>
                    <td>{{ publicacion.titulo }}</td>
                    <td>{{ publicacion.descripcion }}</td>
                    <td>{{ publicacion.fecha ? publicacion.fecha|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('app_publicacion_show', {'id': publicacion.id}) }}">Detalle</a>
                        <a href="{{ path('app_publicacion_edit', {'id': publicacion.id}) }}">Editar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_publicacion_new') }}">Publicar</a>
    </div>
{% endblock %}
