{% extends 'base.html.twig' %}

{% block title %}Nueva Publicación{% endblock %}

{% block body %}
    {# mensajes flash success #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Exito!</strong> {{ message }}
            <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {# mensajes flash failed #}
    {% for message in app.flashes('failed') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>¡Error!</strong> {{ message }}
        <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {% endfor %}
    <div class="centered-form">
        <h1 style="text-align: center;">Crear nueva publicación</h1>

        {{ form_start(form, {'attr': {'class': 'form-group'}})}}
            {{ form_row(form.titulo, {
                'attr': {'class': 'form-control', 'placeholder': 'Título de la publicación'}
            }) }}
            {{ form_row(form.descripcion, {
                'label': 'Descripción',
                'attr': {'class': 'form-control'}
            }) }}
            <small id="descripcionHelp" class="form-text text-muted">La descripción debe ser clara y concisa.</small>
            {{ form_row(form.foto, {
                'label': 'Foto (PNG, JPEG)',
                'attr': {'class': 'form-control-file'}
            }) }}
            {{ form_row(form.embarcacion, {
                'label': 'Embarcación',
                'attr': {'class': 'form-control', 'style': 'width: auto;'}
            }) }}
            <button type="submit" class="btn btn-secondary" style="margin-top: 10px;">Publicar</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
