{% extends 'base.html.twig' %}

{% block title %}Publicacion{% endblock %}

{% block body %}
<div style="text-align: center; color: #c2a26b;">
    <h1>{{ publicacion.titulo }}</h1>

    <div style="display: flex;">
        <div style="flex: 50%;">
            <img src="{{ asset('images/' ~ publicacion.image) }}" alt="{{ publicacion.titulo }}" style="max-width: 100%;">
        </div>
        <div style="flex: 50%;">
            <table class="table publication-data"> 
                <tbody>
                    <tr>
                        <th>Usuario</th>
                        <td>{{ publicacion.usuario.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Tipo de Embarcación</th>
                        <td>{{ publicacion.embarcacion.Tipo }}</td>
                    </tr>
                    <tr>
                        <th>Alto</th>
                        <td>{{ publicacion.embarcacion.alto }}</td>
                    </tr>
                    <tr>
                        <th>Ancho</th>
                        <td>{{ publicacion.embarcacion.ancho }}</td>
                    </tr>
                    <tr>
                        <th>Largo</th>
                        <td>{{ publicacion.embarcacion.largo }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ publicacion.descripcion }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de publicacion</th>
                        <td>{{ publicacion.fecha ? publicacion.fecha|date('d-m-Y') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


    {% if app.user %}
        {% if app.user.id == publicacion.usuario.id %}
            <div>
                <a href="{{ path('app_publicacion_edit', {'id': publicacion.id}) }}" class="btn btn-3">Editar Publicacion</a>
                {{ include('publicacion/_delete_form.html.twig') }}
            </div>
        {% endif %}    
    {% endif %}
</div>
{% endblock %}

