{% extends 'base.html.twig' %}

{% block title %}Publicacion{% endblock %}

{% block body %}
<div style="text-align: center; color: #c2a26b;margin-top:20px">
    <h1>{{ publicacion.titulo }}</h1>

    <div style="display: flex;">
        <div style="flex: 50%;">
            <img src="{{ asset('images/' ~ publicacion.image) }}" alt="{{ publicacion.titulo }}" style="max-width: 100%;">
        </div>
        <div style="flex: 50%;">
            <table class="table publication-data"> 
                <tbody>
                    <tr>
                        <th>Usuario</th>
                        <td>{{ publicacion.usuario.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Tipo de Embarcación</th>
                        <td>{{ publicacion.embarcacion.Tipo }}</td>
                    </tr>
                    <tr>
                        <th>Manga</th>
                        <td>{{ publicacion.embarcacion.manga }}</td>
                    </tr>
                    <tr>
                        <th>Eslora</th>
                        <td>{{ publicacion.embarcacion.eslora }}</td>
                    </tr>
                    <tr>
                        <th>Puntal</th>
                        <td>{{ publicacion.embarcacion.puntal }}</td>
                    </tr>
                    <tr>
                        <th>Descripción</th>
                        <td>{{ publicacion.descripcion }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de publicación</th>
                        <td>{{ publicacion.fecha ? publicacion.fecha|date('d-m-Y') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: flex-start;margin-top:20px">
    {% if app.user %}
    {% if app.user.id == publicacion.usuario.id %}
        
            <a href="{{ path('app_publicacion_edit', {'id': publicacion.id}) }}" class="btn btn-3" style="margin-right: 10px;">Editar Publicacion</a>
            <div style="margin-right: 10px;">
                {{ include('publicacion/_delete_form.html.twig') }}
            </div>
    {% endif %}    
{% endif %}
    <a href="{{ path('app_publicacion_index', {'id': publicacion.id}) }}" class="btn btn-3">Volver a la lista</a>
    <a href="{{path('app_solicitud_new',{'idPublicacion':publicacion.id})}}" class="btn btn-3">Solicitar Embarcacion</a>
</div>

{% endblock %}

