{% extends 'base.html.twig' %}
{% block title %}Bienes{% endblock %}
{% block body %}
    <div style="text-align: center; color: #c2a26b;">
        <h1>Bienes</h1>

        <div class="row">
        {% for bien in biens %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/' ~ bien.image) }}" class="card-img-top" alt="{{ bien.tipo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ bien.tipo }}</h5>
                        <p class="card-text">{{ bien.descripcion }}</p>
                        {% if app.user %}
                            {% if app.user.id == bien.owner.id %}
                                <a href="{{ path('app_bien_edit', {'id': bien.id}) }}" class="btn btn-secondary">Editar</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div style="width: 100%; text-align: center;">
                <p>No se encontraron bienes.</p>
            </div>
        {% endfor %}
        </div>
        {% if is_granted('ROLE_CLIENT') %}
            <a href="{{ path('app_bien_new') }}" class="btn btn-secondary">Agregar nuevo bien</a>
        {% endif %}
    </div>
{% endblock %}