{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block search %}


<form class="d-flex" action="{{ path('app_home_page') }}" method="get">
        {{ form_widget(form.titulo, {'attr': {'class': 'form-control me-2', 'placeholder': 'Search', 'aria-label': 'Search'}}) }}
        <button class="btn btn-outline-primary ml-2" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>
    </form>
    {#
        <form class="d-flex" action="{{ path('app_home_page') }}" method="get"> 
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="titulo"> 
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    #}

{% endblock %}

{% block body %}
<div style="text-align: center; color: #c2a26b;">

    <div class="row">
        {% for publicacion in publicaciones %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                     <img src="{{ asset('images/' ~ publicacion.image) }}" class="card-img-top" alt="{{ publicacion.titulo }}"> 
                    <div class="card-body">
                        <h5 class="card-title">{{ publicacion.titulo }}</h5>
                        <p class="card-text">{{ publicacion.descripcion }}</p>
                        <a href="{{ path('app_publicacion_show', {'id': publicacion.id}) }}" class="btn btn-secondary">Ver detalles</a>
                        {% if app.user %}
                            {% if app.user.id == publicacion.usuario.id %}
                                <a href="{{ path('app_publicacion_edit', {'id': publicacion.id}) }}" class="btn btn-secondary">Editar</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div style="width: 100%; text-align: center;">
                <p>No se encontraron publicaciones.</p>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}
